/* gebruikers pagina */

.body {
    border: solid;
    width: 300px;
}
hr.custom-divider {
    border: none;
    height: 1px;
    background-color: #000;
    margin: 20px 0;
}

.standaard {
    border: solid;
    width: 275px;
    text-align: center;
    margin: auto;
}

.custom-offerte {
    border: solid;
    width: 275px;
    text-align: center;
    margin: auto;
}

.orders {
    border: solid;
    width: 275px;
    text-align: center;
    margin: auto;
}

.orders-header {
    justify-content: flex-end;
}

.headersub {
    display: inline-block;
}

/* admin pagina */

.admin-body {
    border: solid;
    width: 500px;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.admin-nav {
    margin-left: 10px;
}
